APP_NAME=PulseOS
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pulseos
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_LIFETIME=7200

MAIL_FROM=noreply@tudominio.com
